@using 投票系统.Entity
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中铁山桥科技项目管理评审系统</title>
    <link rel="stylesheet" type="text/css" href="~/css/default.css">


    <!--必要样式-->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div style="width: 100%; height: 6%; background-color: #fff9b2;position: fixed;">
        <div style="width: 18%; background-color: #ffa751; height: 100%; display: inline-block;vertical-align: top">

        </div>
        <div style="width: 77%; text-align: right;padding:0;border:0;margin:0;display:inline-block; height: 100%; line-height: 100%;  ">
            欢迎登陆：<a>@Model.Name</a>
        </div>
    </div>
    <div id="contentWrapper">

        <div id="contentLeft">

            <ul id="leftNavigation">
                <a href="/Console/Index">
                    <div style="font-size: 25px; text-align: center; background-color: #09d0ff; color: #fbfbff">
                        操作菜单
                    </div>
                </a>
                @if (Model.groups.privilege1.AddReview == 1)
                {
                    <li class="active">
                        <a href="#"><i class="fa fa-file-text-o leftNavIcon"></i> 课题上传</a>
                        <ul>
                            <li>
                                <a href="/upproduct/xjkt"><i class="fa fa-angle-right leftNavIcon"></i> 新建课题</a>
                            </li>
                            <li>
                                <a href="/upproduct/scjd"><i class="fa fa-angle-right leftNavIcon"></i> 上传进度</a>
                            </li>
                            <li>
                                <a href="/upproduct/ktlb"><i class="fa fa-angle-right leftNavIcon"></i> 课题列表</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (Model.groups.privilege1.Review == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-book leftNavIcon"></i> 课题分类</a>
                        <ul>
                            @if (Model.groups.privilege1.TJ == 1)
                            {
                                <li>
                                    <a href="/Category/fltj"><i class="fa fa-angle-right leftNavIcon"></i> 分类推荐</a>
                                </li>
                            }
                            <li>
                                <a href="/Category/tjtp"><i class="fa fa-angle-right leftNavIcon"></i> 推荐投票</a>
                            </li>
                            <li>
                                <a href="/Category/tpjg"><i class="fa fa-angle-right leftNavIcon"></i> 投票结果</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (Model.groups.privilege1.Review == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-book leftNavIcon"></i> 课题评分</a>
                        <ul>
                            <li>
                                <a href="/score/pf"><i class="fa fa-angle-right leftNavIcon"></i> 评分</a>
                            </li>
                            <li>
                                <a href="/score/pfjg"><i class="fa fa-angle-right leftNavIcon"></i> 评分结果</a>
                            </li>
                            @if (Model.groups.privilege1.TJ == 1)
                            {
                                <li>
                                    <a href="/score/hjtj"><i class="fa fa-angle-right leftNavIcon"></i> 获奖推荐</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-newspaper-o leftNavIcon"></i> 投票</a>
                        <ul>
                            <li>
                                <a href="/vote/ydjtp"><i class="fa fa-angle-right leftNavIcon"></i> 一等奖投票</a>
                            </li>
                            <li>
                                <a href="/vote/ydjjg"><i class="fa fa-angle-right leftNavIcon"></i> 一等奖结果</a>
                            </li>
                            <li>
                                <a href="/vote/edjtp"><i class="fa fa-angle-right leftNavIcon"></i> 二等奖投票</a>
                            </li>
                            <li>
                                <a href="/vote/edjjg"><i class="fa fa-angle-right leftNavIcon"></i> 二等奖结果</a>
                            </li>
                            <li>
                                <a href="/vote/sdjtp"><i class="fa fa-angle-right leftNavIcon"></i> 三等奖投票</a>
                            </li>
                            <li>
                                <a href="/vote/sdjjg"><i class="fa fa-angle-right leftNavIcon"></i> 三等奖结果</a>
                            </li>
                            <li>
                                <a href="/vote/yxjpx"><i class="fa fa-angle-right leftNavIcon"></i> 优秀奖/鼓励奖评选</a>
                            </li>
                            <li>
                                <a href="/vote/zzjg"><i class="fa fa-angle-right leftNavIcon"></i> 最终结果</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (Model.groups.privilege1.Administrator == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-user leftNavIcon"></i> 网络管理员</a>
                        <ul>
                            <li>
                                <a href="/Administrator/jdsc"><i class="fa fa-angle-right leftNavIcon"></i> 进度上传</a>
                            </li>
                            <li>
                                <a href="/Administrator/xjyh"><i class="fa fa-angle-right leftNavIcon"></i> 新建用户</a>
                            </li>
                            <li>
                                <a href="/Administrator/yhgl"><i class="fa fa-angle-right leftNavIcon"></i> 用户管理</a>
                            </li>
                            <li>
                                <a href="/Administrator/tpjskz"><i class="fa fa-angle-right leftNavIcon"></i> 投票进度控制</a>
                            </li>
                            <li>
                                <a href="/Administrator/qx"><i class="fa fa-angle-right leftNavIcon"></i> 权限</a>
                            </li>
                            <li>
                                <a href="/Administrator/yhz"><i class="fa fa-angle-right leftNavIcon"></i> 用户组</a>
                            </li>
                            <li>
                                <a href="/Administrator/flgl"><i class="fa fa-angle-right leftNavIcon"></i> 分类管理</a>
                            </li>
                            <li>
                                <a href="/Administrator/ktbm"><i class="fa fa-angle-right leftNavIcon"></i> 课题编码</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (Model.groups.privilege1.Technical == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-pencil-square leftNavIcon"></i> 课题管理</a>
                        <ul>
                            <li>
                                <a href="/Management/jdxq"><i class="fa fa-angle-right leftNavIcon"></i> 进度详情</a>
                            </li>
                            <li>
                                <a href="/Management/ktmx"><i class="fa fa-angle-right leftNavIcon"></i> 课题明细</a>
                            </li>
                            <li>
                                <a href="/Management/tjcx"><i class="fa fa-angle-right leftNavIcon"></i> 统计查询</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (Model.groups.privilege1.ZG == 1)
                {
                    <li>
                        <a href="#"><i class="fa fa-sun-o leftNavIcon"></i> 总工确认</a>
                        <ul>
                            <li>
                                <a href="/Boss/zgqr"><i class="fa fa-angle-right leftNavIcon"></i> 总工确认</a>
                            </li>
                        </ul>
                    </li>

                }
                <li>
                    <a href="#"><i class="fa fa-sun-o leftNavIcon"></i> 系统设置</a>
                    <ul>
                        <li>
                            <a href="/System/tcdl"><i class="fa fa-angle-right leftNavIcon"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

        <div id="contentRight">

            <header class="htmleaf-header">
                <div style="width: 100%;text-align: center;">
                    <h1>中铁山桥科技项目管理评审系统--首页</h1>
                    <h4 style="text-align: left; margin-left: 10px">系统要求：</h4>
                    <h6 style="text-align: left; margin-left: 10px">&nbsp;&nbsp; 1. 评委总人数不得少于7人；其中主任评委1人(必须)；组长评委3人(必须，  结构、道岔、机械及其它)； </h6>
                    <h6 style="text-align: left; margin-left: 10px">&nbsp;&nbsp; 2. 参加评审的课题数量不得少于5项； </h6>
                    <h6 style="text-align: left; margin-left: 10px">&nbsp;&nbsp; 3. 组长评委推荐的一、二、三等奖都必须有； </h6>
                </div>
            </header>
        </div>

    </div>

    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ssd-vertical-navigation.js"></script>
    <script type="text/javascript">
$(function() {

    $('#leftNavigation').ssdVerticalNavigation();

});
    </script>
</body>
</html>